html,
body {
  height: 100%;
  width: 100%;
  background: green;
  font-family: "Courier";
}
h1 {
  color: white;
}
.centerScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
